.contact-container {
  margin-top: -2.5rem;
  padding: 3.5rem 0 3.5rem 20rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-left-box {
  position: relative;
  width: 49%;
}

.contact-title {
  position: relative;
  font-size: 6.25rem;
  line-height: 1.9;
  width: 90%;
  padding-left: 5%;
}

.contact-title span {
  display: inline-block;
  color: #08fdd8;
  transition: color .35s ease;
}

@keyframes contactBounce {
  from {transform: scale3d(1, 1, 1)}
  30% {transform: scale3d(1.25, 0.75, 1)}
  40% {transform: scale3d(0.75, 1.2, 1)}
  50% {transform: scale3d(1.15, 0.85, 1)}
  65% {transform: scale3d(.95, 1.05, 1)}
  75% {transform: scale3d(1.05, .95, 1)}
  to {transform: scale3d(1, 1, 1)}
}

#cLetter_c1 {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .1s}
#cLetter_o {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .2s}
#cLetter_n {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .3s}
#cLetter_t1 {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .4s}
#cLetter_a {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .5s}
#cLetter_c2 {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .6s}
#cLetter_t2 {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .7s}
#cLetter_m {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .8s}
#cLetter_e {opacity: 0; animation: aboutFadeIn 1s ease-in-out forwards; animation-delay: .9s}

.contact-message {
  display: block;
  width: 90%;
  padding-left: 5%;
  min-width: 320px;
  font-size: 1.75rem;
  line-height: 1.65;
}

.contact-form {
  position: relative;
  display: block;
  width: 90%;
  margin-left: 5%;
  padding-top: 4rem;
  min-height: 20rem;
}

.contact-form ul li {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.contact-form input[type="text"]::placeholder ,
.contact-form input[type="email"]::placeholder,
.contact-form textarea::placeholder  {
  color: #8d8d8d;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  background: #2b2b2b;
  height: 50px;
  font-size: 16px;
  color: whitesmoke;
  padding: 0 20px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  width: 100%;
}