.navbar-toggle {
  display: none;
}

.navbar-container {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row;
  background-color: hsla(140, 100%, 92%, 1);
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 20%;
  padding: 2rem 0;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

.navbar-left img {
  height: 12rem;
  width: 12rem;
  border-radius: 40%;
  box-shadow: 0 0 39px 10px hsla(151, 81%, 25%, 0.895);
  animation: fade-in 2s ease-in forwards;
}

.navbar-left img:hover {
  animation: fade 5s ease-in-out infinite;
  cursor: pointer;
}

.navbar-left h2 {
  margin-top: 1rem;
  font-size: 2.35rem;
  color: hsla(253, 88%, 44%, 0.895);
}

.navbar-left p {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: hsla(253, 88%, 44%, 0.895);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  text-align: center;
  height: 100%;
  width: 60%;
}

.nav-link { 
  color: hsla(151, 81%, 25%, 0.895);
  text-decoration: none;
}

#first-nav-link h1{
  border-left: 2px solid hsla(253, 88%, 44%, 0.895);
}

// add the clip path wash style from module 9 here
.nav-link h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.85;
  border-right: 2px solid hsla(253, 88%, 44%, 0.895);
  /* transition: transform .1s ease; */
}

.nav-link:hover {
  color: hsla(253, 88%, 44%, 0.895);
}

.nav-link:active h1{
  border-top: 8px solid hsla(253, 88%, 44%, 0.895);
  transform: scale(1.0);
}

.nav-item {
  position: relative;
  font-size: .70rem;
  margin: 0 1rem;
  line-height: 1.5rem;
  width: 100%;
}

.nav-item::after {
  color: inherit;
  /* content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: .2rem;
  background-color: transparent; */
}

.nav-item:hover::after {
  color: inherit;
  /* height: 100%; */
  /* background-color: #6e3aae; */
}

/* 
on hover: border and lit text 
on click: scale down a bit
on active/clicked: lit text
*/

.nav-item .active {
  color: #6e3aae;
  border-top: 8px solid hsla(253, 88%, 44%, 0.895);
  transform: scale(1.3);
}

.navbar-right {
  margin: 2rem 0 5rem;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  width: 5%;
}

.nav-icon {
  font-size: 2.5rem;
  color: hsla(151, 81%, 25%, 0.895);
  transition: all .75s ease-out;
}

.nav-icon:hover {
  color: hsl(258, 53%, 37%);
  transition: scale(10);
}

/* Formatting for 1250px */
@media (max-width: 600px) {
  .navbar-container {
    width: 16.5rem;
  }
  .navbar-top img {
    height: 8rem;
    width: 8rem;
  }
  .navbar-top h1 {
    margin-top: 1.125rem;
    font-size: 2.05rem;
  }
}

/* Formatting for 1100px */
@media (max-width: 1100px) {
  .navbar-toggle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 1.25rem;
    right: 1.25rem;
    width: 6rem;
    height: 5.5rem;
    background-color: #00A676;
    border-radius: 3px;
    z-index: 75;
    cursor: pointer;
  }
  .navbar-toggle .navbar-line {
    height: 4px;
    width: 67.5%;
    margin: 4px 0;
    border-radius: 1px;
    background-color: #ffffff;
  }
  .navbar-line {
    transition: all 1s ease-in-out;
  }
  .navbar-line:nth-child(1).navActive {
    transform: translate(0, 12.5px) rotate(45deg);
    background-color: #ffffff;
    height: 5px;
    border-radius: 2px;
  }
  /* .navbar-line:nth-child(2).navActive {
    opacity: 0
  }
  .navbar-line:nth-child(3).navActive {
    transform: translate(0, -12.5px) rotate(-45deg);
    background-color: #ffffff;
    height: 5px;
    border-radius: 2px;
  }
  .navbar-container {
    display: none;
    opacity: 0;
    width: 100%;
  } */
  .navbar-continer.navActive {
    display: flex;
    animation: navDafeBack .25s ease forwards;
  }
  .navbar-top img {
    height: 11rem;
    width: 11rem;
  }
  navbar-top h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }
  .navbar-top p {
    margin-top: .9rem;
    font-size: 1.35rem;
  }
  .nav-item:hover::after {
    background-color: transparent;
  }
}

/* Formatting for 480px */
@media (max-width: 480px) {
  .navbar-top img {
    height: 10rem;
    width: 10rem;
  }
  .navbar-toggle {
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 4.5rem;
    border-radius: 2px;
  }
  .navbar-toggle .navbar-line {
    height: 3.25px;
    margin: 3.5px 0;
  }
  .navbar-line:nth-child(1).navActive {
    transform: translate(0, 10px) rotate(45deg);
    height: 4px;
  }
  .navbar-line:nth-cild(3).navActive {
    transform: translate(0, 11px) rotate(-45deg);
    height: 4px;
  }
}