.skills-container {
  padding: 3.5rem 0 3.5rem 18.5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

@keyframes skillsHeaderFade {
  10% {opacity: 0}
  50% {margin-top: 0rem; margin-bottom: 0rem;}
  100% {opacity: 1; margin-top: 0rem; margin-bottom: 0rem;}
}

.skills-header {
  position: relative;
  color: white;
  font-size: 6.25rem;
  font-weight: 600;
  animation: skillsHeaderFade 2s ease forwards;
  margin-top: 3.5rem;
  margin-bottom: -3.5rem;
  opacity: 0;
}

.skills-header span {
  display: inline-block;
  transition: color .35s ease;
}

.skills-header span:hover {
  color: #a0a0a0;
  animation: contactBounce 1s ease forwards;
}

.skills-description {
  position: relative;
  font-family: Baskerville;
  display: flex;
  align-items: flex-start;
  font-size: .735rem;
  width: 95.5rem;
  height: 2.5rem;
  margin-top: 2rem;
}

.skills-box:first-of-type {
  margin-top: 7.5rem;
}

@keyframes skillsBoxFade {
  100% {opacity: 1}
}

.skills-box {
  position: realtive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 5.5rem 0 0;
  padding: 2.5rem 0;
  border: 1px solid #a0a0a0;
  background-color: #000000;
  color: whitesmoke;
  border-radius: 1rem;
  animation: skillsBoxFade 1.75s ease forwards;
  opacity: 0;
}

.skills-title {
  position: absolute;
  color: black;
  text-transform: uppercase;
  border: 2px solid #a0a0a0;
  background-color: #a0a0a0;
  top: -3.25rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding: .5rem 1.65rem;
  border-radius: .5rem .5rem 0 0;
  animation: skillsBoxFade 2s ease forwards;
  opacity: 0;
}

.skills-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.skills-separator {
  height: 13.5rem;
  width: 2px;
  border-radius: 1rem;
  background-color: #515152;
}

.skills-item {
  height: 17.5rem;
  width: 22.5rem;
  padding: 0 2rem;
  text-align: center;
}

.skills-item img {
  height: 7.5rem;
  width: 7.5rem;
  transition: all .5s ease-in-out;
}

.skills-item img:hover {
  transform: rotate(360deg) scale (1.15);
}

.skills item h2 {
  font-size: 2.65rem;
  padding: 1.25rem 0 .65rem;
}

.skills-item p {
  font-size: 1.34rem;
  line-height: 1.4;
}

#ReactSkill {animation: skillsBoxFade 1s ease .75s forwards; opacity:0}
#ReduxSkill {animation: skillsBoxFade 1s ease 1.25s forwards; opacity:0}
#JavaScript {animation: skillsBoxFade 1s ease 1.75s forwards; opacity:0}
#CSSSkill {animation: skillsBoxFade 1s ease 2.25s forwards; opacity:0}
#HTMLSkill {animation: skillsBoxFade 1s ease 2.75s forwards; opacity:0}

#RubySkill {animation: skillsBoxFade 1s ease .75s forwards; opacity:0}
#RailsSkill {animation: skillsBoxFade 1s ease 1.25s forwards; opacity:0}
#PostgreSQLSkill {animation: skillsBoxFade 1s ease 1.75s forwards; opacity:0}
#SQLSkill {animation: skillsBoxFade 1s ease 2.25s forwards; opacity:0}
#VSCodeSkill {animation: skillsBoxFade 1s ease 2.75s forwards; opacity:0}

.education-separator {
  width: 0;
  height: 1px;
  box-shadow: rgba(15, 15, 15, .65) 0px 2px 4px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255), rgba(255, 255, 255, 0));
  opacity: .8;
  border-radius: 1rem;
  margin: 7.5rem 0 5rem;
}

@keyframes lineAcross {
  100% {width: 90%}
}

#education-separator-active {
  animation: lineAcross 4s ease forwards; 
}

.education-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.education-header {
  position: relative;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: -5rem;
  opacity: 0;
}

.education-header span {
  display: inline-block;
  transition: color .35s ease;
}

.education-header span:hover {
  color: #08fdd8;
  animation: contactBounce 1s ease forwards;
}

#certTitle-active {
  animation: skilsHeadFade 2s ease forwards;
}

/* Flatiron Cert */
.flatiron-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: flex-start;
  margin-top: 2.5rem;
  width: 100%;
  height: 35rem;
  box-shadow: rgba(0, 0, 0, 0.325) 4px 4px 2px;
  margin-left: 25rem;
  opacity: 0;
}

@keyframes certItemSlide {
  100% {opacity: 1; margin-left: 0}
}

#cert1-active {
  animation: certItemSlide 2s ease forwards;
}

.flatiron-img-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 42.5rem;
}
.flatiron-images {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: .25rem 0 0 .25rem;
}
.flatiron-img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 42.5rem;
  border-radius: .25rem 0 0 .25rem;
  transition: opacity .5s ease-in-out;
}
#flatiron-pointer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2.25rem;
  color: whitesmoke;
  opacity: 1;
  transition: all .25s ease;
}