.tech-container {
  padding: 3.5rem 0 3.5rem 18.5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.tech-header {
  position: relative;
  color: white;
  font-size: 6.25rem;
  font-weight: 600;
  animation: skilsHeadFade 2s ease forwards;
  margin-top: 3.5rem;
  margin-bottom: -3.5rem;
  opacity: 0;
}

.tech-header span {
  display: inline-block;
  transition: color .35s ease;
}

.tech-header span:hover {
  color: #08fdd8;
  animation: contactBounce 1s ease forwards
}

.tech-description {
  margin-top: 2.75rem;
  font-size: 1.85rem;
}

#tech-slide1,
#tech-slide2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#tech-slide1 {
  opacity: 0;
  animation: showup 2s ease 1.5s forwards;
}

#tech-slide2 {
  width: 0;
  animation: reveal 2.5s ease 1.5s forwards;
}

#tech-child-slide {
  margin-left: -340px;
  animation: slidein 2.5s ease 1.5s forwards;
}

@keyframes showup {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes slidein {
  0% {margin-left: -800px}
  50% {margin-left: -800px}
  100% {margin-left: 0px}
}

@keyframes reveal {
  0% {opacity: 0; width: 0px}
  50% {opacity: 1; width: 0px}
  100% {width: 260px}
}

.tech-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  width: 85%;
  gap: 4.5rem;
  margin-top: 3.85rem;
}

.tech-item {
  padding: 0 1rem;
  width: 54rem;
  margin: 0 auto;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  margin-top: 10rem;
  margin-bottom: -10rem;
  opacity: 0;
}

@keyframes algoFadeUp {
  100% {opacity: 1; margin-top: 0; margin-bottom: 0}
}

.tech-item1 {animation: algoFadeUp 1.25s ease .5s forwards}
.tech-item2 {animation: algoFadeUp 1.25s ease .75s forwards}
.tech-item3 {animation: algoFadeUp 1.25s ease 1s forwards}
.tech-item4 {animation: algoFadeUp 1.25s ease 1.25s forwards}

#techJavascript::before {
  content: "";
  display: block;
  height: 2px;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  transition: all .7s ease;
  background-color: orange
}

#techRuby::before {
  content: "";
  display: block;
  height: 2px;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  transition: all .7s ease;
  background-color: #FD2155
}

#techJavascriptRuby::before {
  content: "";
  display: block;
  height: 2px;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  transition: all .7s ease;
  background: linear-gradient(to right,orange, #FD2155);
}

.tech-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-item p:first-child {
  display: block;
  font-size: 16px;
  padding: 1.5rem 2rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  margin-top: 1rem;
}

#techJavascript p:first-child {
  color: orange;
}

#techRuby p:first-child {
  color: #FD2155;
}

#techJavascriptRuby p:first-child {
  color: orange;
}

#techJavascriptRuby p:first-child span:first-of-type {
  color: #aaa;
}

#techJavascriptRuby p:first-child span:last-of-type {
  color: #FD2155;
}

.tech-item p:last-child {
  display: block;
  font-size: 14px;
  padding: 1.5rem 2rem 2rem;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  margin-top: 1rem;
}

.tech-iframe-wrapper {
  width: 52rem;
  height: 30rem;
  margin-bottom: 1rem;
}

.tech-iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

/* Formatting for 1400px  */
@media (max-width: 1400px) {
  .algo-wrapper {
      width: 90%;
      gap: 4rem;
  }
  .algo-item {
      width: 52rem;
  }
  .algo-iframe-wrapper {
      width: 50rem;
      height: 30rem;
  }
}