.tech-container {
  padding: 3.5rem 0 3.5rem 18.5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.tech-header {
  position: relative;
  color: white;
  font-size: 6.25rem;
  font-weight: 600;
  animation: skilsHeadFade 2s ease forwards;
  margin-top: 3.5rem;
  margin-bottom: -3.5rem;
  opacity: 0;
}

.tech-header span {
  display: inline-block;
  transition: color .35s ease;
}

.tech-header span:hover {
  color: #08fdd8;
  animation: contactBounce 1s ease forwards
}

.tech-description {
  margin-top: 2.75rem;
  font-size: 1.85rem;
}

#tech-slide1,
#tech-slide2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

#tech-slide1 {
  opacity: 0;
  animation: showup 2s ease 1.5s forwards;
}

#tech-slide2 {
  width: 0;
  animation: reveal 2.5s ease 1.5s forwards;
}

#tech-child-slide {
  margin-left: -340px;
  animation: slidein 2.5s ease 1.5s forwards;
}